@media screen and (max-width: 1440px) {
  #header {
    .header {
      .header--general {
        img {
        }

        &__icons {
          &--ai {
          }
        }

        .hamburger-menu {
          #menu__toggle {
          }

          .menu__btn {
          }

          .menu__box {
            .menu__item {
            }
          }
        }
      }
    }
  }
  #hero {
    .hero {
      .hero--general {
        &__block {
        }

        h1 {

        }

        &__line {
        }

        &__title {
          p {
          }

          button {
          }

          &--next {
          }
        }

      }

      .hero--circle {
        display: none;
      }
    }
  }
  #our-service {
    .our-service {
      .our-service--general {
        h1 {
        }

        p {
        }

        &__group {
          flex-wrap: wrap;
          &--block {
            h2 {
            }

            &__title {
              h3 {
              }

              &--circle {
              }
            }
          }

          &--block2 {
            display: none;
            h2 {
            }

            &__title2 {
              h3 {
              }

              &--circle2 {
              }
            }
          }
        }
      }
    }
  }
  #our-projects {
    .our-projects {
      .our-projects--general {
        h1 {
        }

        &__block {
          &--image {
            width: 64rem;
            img {
            }

            &__scroll {
              h2 {
              }
            }
          }
        }
      }
    }
  }
  #our-team {
    .our-team {
      .our-team--general {
        h1 {
        }

        &__title {
          &--group {
            &__image {
              width: 240px;
            }

            &__block {
              h2 {
              }

              h3 {
              }

              &--icons {
                &__social {
                }
              }
            }
          }
        }
      }
    }
  }
  #tools {
    .tools {
      .tools--general {
        h1 {
        }

        &__group {
          &--image {
          }

          &--block {
            &__item {
              &--title {
              }
            }
          }

          &--image2 {
          }
        }
      }
    }
  }
  #vacancies {
    .vacancies {
      .vacancies--general {
        h1 {
        }

        &__group {
          &--title {
            table {
            }

            &__block {
              h2 {
              }

              Link {
              }
            }
          }
        }
      }
    }
  }
  #contact {
    .contact {
      .contact--general {
        h1 {
        }

        &__group {
          &--title {
            &__icons {
              &--icon {
              }

              h2 {
              }
            }
          }

          iframe {
          }
        }
      }
    }
  }
  #footer {
    .footer {
      .footer--general {
        &__group {
          &--block {
            &__words {
              h1 {
              }
            }

            &__image {
              img {
              }
            }
          }

          &--title {
            &__web {
              &--item {
                &__input {
                  h2 {
                  }

                  &--line {
                    input {
                    }

                    table {
                    }
                  }
                }

                &__btn {
                  button {
                  }
                }

                &__p {
                  p {
                  }
                }
              }

              img {
                width: 415px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  #header {
    .header {
      .header--general {
        img {
        }

        &__icons {
          &--ai {
          }
        }

        .hamburger-menu {
          #menu__toggle {
          }

          .menu__btn {
          }

          .menu__box {
            .menu__item {
            }
          }
        }
      }
    }
  }
  #hero {
    .hero {
      .hero--general {
        &__block {
        }

        h1 {

        }

        &__line {
        }

        &__title {
          p {
          }

          button {
          }

          &--next {
          }
        }

      }

      .hero--circle {
        display: none;
      }
    }
  }
  #our-service {
    .our-service {
      .our-service--general {
        h1 {
        }

        p {
        }

        &__group {
          flex-wrap: wrap;
          &--block {
            h2 {
            }

            &__title {
              h3 {
              }

              &--circle {
              }
            }
          }

          &--block2 {
            display: none;
            h2 {
            }

            &__title2 {
              h3 {
              }

              &--circle2 {
              }
            }
          }
        }
      }
    }
  }
  #our-projects {
    .our-projects {
      .our-projects--general {
        h1 {
        }

        &__block {
          &--image {
            width: 64rem;
            img {
            }

            &__scroll {
              h2 {
              }
            }
          }
        }
      }
    }
  }
  #our-team {
    .our-team {
      .our-team--general {
        h1 {
        }

        &__title {
          &--group {
            &__image {
              width: 240px;
            }

            &__block {
              h2 {
              }

              h3 {
              }

              &--icons {
                &__social {
                }
              }
            }
          }
        }
      }
    }
  }
  #tools {
    .tools {
      .tools--general {
        h1 {
        }

        &__group {
          &--image {
          }

          &--block {
            &__item {
              &--title {
              }
            }
          }

          &--image2 {
          }
        }
      }
    }
  }
  #vacancies {
    .vacancies {
      .vacancies--general {
        h1 {
        }

        &__group {
          &--title {
            table {
            }

            &__block {
              h2 {
              }

              Link {
              }
            }
          }
        }
      }
    }
  }
  #contact {
    .contact {
      .contact--general {
        h1 {
        }

        &__group {
          &--title {
            &__icons {
              &--icon {
              }

              h2 {
              }
            }
          }

          iframe {
          }
        }
      }
    }
  }
  #footer {
    .footer {
      .footer--general {
        &__group {
          &--block {
            &__words {
              h1 {
              }
            }

            &__image {
              img {
              }
            }
          }

          &--title {
            &__web {
              &--item {
                &__input {
                  h2 {
                  }

                  &--line {
                    input {
                    }

                    table {
                    }
                  }
                }

                &__btn {
                  button {
                  }
                }

                &__p {
                  p {
                  }
                }
              }

              img {
                width: 415px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #header {
    .header {
      .header--general {
        width: 100vw;
        img {
        }

        &__icons {
          &--ai {
          }
        }

        .hamburger-menu {
          #menu__toggle {
          }

          .menu__btn {
            right: 10%;
          }

          .menu__box {
            .menu__item {
            }
          }
        }
      }
    }
  }
  #hero {
    margin-top: 200px;
    .hero {
      .hero--general {
        &__block {
        }

        h1 {

        }

        &__line {
        }

        &__title {
          p {
          }

          button {
          }

          &--next {
            margin: -12px -67px;
          }
        }

      }

      .hero--circle {
      }
    }
  }
  #our-service {
    .our-service {
      .our-service--general {
        h1 {
        }

        p {
        }

        &__group {
          &--block {
            h2 {
            }

            &__title {
              h3 {
              }

              &--circle {
              }
            }
          }

          &--block2 {
            display: none;
            h2 {
            }

            &__title2 {
              h3 {
              }

              &--circle2 {
              }
            }
          }
        }
      }
    }
  }
  #our-projects {
    .our-projects {
      .our-projects--general {
        h1 {
        }

        &__block {
          &--image {
            width: 56rem;
            img {
            }

            &__scroll {
              h2 {
              }
            }
          }
        }
      }
    }
  }
  #our-team {
    .our-team {
      .our-team--general {
        h1 {
        }

        &__title {
          &--group {
            &__image {
              width: 200px;
            }

            &__block {
              h2 {
              }

              h3 {
              }

              &--icons {
                &__social {
                }
              }
            }
          }
        }
      }
    }
  }
  #tools {
    .tools {
      .tools--general {
        h1 {
        }

        &__group {
          &--image {
          }

          &--block {
            &__item {
              width: 778px;
              &--title {
              }
            }
          }

          &--image2 {
          }
        }
      }
    }
  }
  #vacancies {
    .vacancies {
      .vacancies--general {
        h1 {
        }

        &__group {
          margin-left: 20%;
          &--title {
            table {
            }

            &__block {
              h2 {
              }

              Link {
              }
            }
          }
        }
      }
    }
  }
  #contact {
    .contact {
      .contact--general {
        h1 {
        }

        &__group {
          &--title {
            &__icons {
              &--icon {
              }

              h2 {
              }
            }
          }

          iframe {
          }
        }
      }
    }
  }
  #footer {
    .footer {
      .footer--general {
        &__group {
          &--block {
            &__words {
              h1 {
              }
            }

            &__image {
              img {
              }
            }
          }

          &--title {
            &__web {
              &--item {
                &__input {
                  h2 {
                  }

                  &--line {
                    input {
                    }

                    table {
                    }
                  }
                }

                &__btn {
                  button {
                  }
                }

                &__p {
                  p {
                  }
                }
              }

              img {
                width: 345px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  #header {
    .header {
      .header--general {
        img {
        }

        &__icons {
          &--ai {
          }
        }

        .hamburger-menu {
          #menu__toggle {
          }

          .menu__btn {
          }

          .menu__box {
            .menu__item {
            }
          }
        }
      }
    }
  }
  #hero {
    .hero {
      .hero--general {
        &__block {
        }

        h1 {

        }

        &__line {
        }

        &__title {
          p {
          }

          button {
            width: 385px;
          }

          &--next {
          }
        }

      }

      .hero--circle {
      }
    }
  }
  #our-service {
    .our-service {
      .our-service--general {
        h1 {
        }

        p {
        }

        &__group {
          margin: 10px;
          &--block {
            h2 {
            }

            &__title {
              h3 {
              }

              &--circle {
              }
            }
          }

          &--block2 {
            h2 {
            }

            &__title2 {
              h3 {
              }

              &--circle2 {
              }
            }
          }
        }
      }
    }
  }
  #our-projects {
    .our-projects {
      .our-projects--general {
        h1 {
        }

        &__block {
          &--image {
            img {
            }

            &__scroll {
              h2 {
              }
            }
          }
        }
      }
    }
  }
  #our-team {
    .our-team {
      .our-team--general {
        h1 {
        }

        &__title {
          &--group {
            &__image {
            }

            &__block {
              h2 {
              }

              h3 {
              }

              &--icons {
                &__social {
                }
              }
            }
          }
        }
      }
    }
  }
  #tools {
    .tools {
      .tools--general {
        h1 {
        }

        &__group {
          &--image {
          }

          &--block {
            &__item {
              &--title {
              }
            }
          }

          &--image2 {
          }
        }
      }
    }
  }
  #vacancies {
    .vacancies {
      .vacancies--general {
        h1 {
        }

        &__group {
          &--title {
            table {
            }

            &__block {
              h2 {
              }

              Link {
              }
            }
          }
        }
      }
    }
  }
  #contact {
    .contact {
      .contact--general {
        h1 {
        }

        &__group {
          &--title {
            &__icons {
              &--icon {
              }

              h2 {
              }
            }
          }

          iframe {
          }
        }
      }
    }
  }
  #footer {
    .footer {
      .footer--general {
        &__group {
          &--block {
            &__words {
              h1 {
              }
            }

            &__image {
              img {
              }
            }
          }

          &--title {
            &__web {
              &--item {
                &__input {
                  h2 {
                  }

                  &--line {
                    input {
                    }

                    table {
                    }
                  }
                }

                &__btn {
                  button {
                  }
                }

                &__p {
                  p {
                  }
                }
              }

              img {
                width: 325px;
              }
            }
          }
        }
      }
    }
  }
  #modal {
    .modal {
      .modal--general {
        .h1 h1 {
          padding: 80px 50px 10px 0;
        }
        &__group {
          &--group2 {
            h2 {}
            &__line {
              display: none;
            }
            &__title {
              h3 {}
              h4 {}
              p {}
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #header {
    .header {
      .header--general {
        img {
        }

        &__icons {
          &--ai {
          }
        }

        .hamburger-menu {
          #menu__toggle {
          }

          .menu__btn {
            right: 10%;
          }

          .menu__box {
            .menu__item {
            }
          }
        }
      }
    }
  }
  #hero {
    .hero {
      .hero--general {
        flex-wrap:  wrap;
        &__block {
        }

        h1 {

        }

        &__line {
        }

        &__title {
          p {
          }

          button {
          }

          &--next {
          }
        }

      }

      .hero--circle {
      }
    }
  }
  #our-service {
    .our-service {
      .our-service--general {
        h1 {
        }

        p {
        }

        &__group {
          &--block {
            h2 {
            }

            &__title {
              h3 {
              }

              &--circle {
              }
            }
          }

          &--block2 {
            display: block;
            h2 {
            }

            &__title2 {
              h3 {
              }

              &--circle2 {
              }
            }
          }
        }
      }
    }
  }
  #our-projects {
    .our-projects {
      .our-projects--general {
        h1 {
        }

        &__block {
          &--image {
            width: 40rem;
            img {
            }

            &__scroll {
              h2 {
              }
            }
          }
        }
      }
    }
  }
  #our-team {
    .our-team {
      .our-team--general {
        h1 {
        }

        &__title {
          &--group {
            &__image {
              width: 150px;
            }

            &__block {
              h2 {
              }

              h3 {
              }

              &--icons {
                &__social {
                }
              }
            }
          }
        }
      }
    }
  }
  #tools {
    .tools {
      .tools--general {
        h1 {
        }

        &__group {
          &--image {
          }

          &--block {
            &__item {
              width: 615px;
              &--title {
              }
            }
          }

          &--image2 {
          }
        }
      }
    }
  }
  #vacancies {
    .vacancies {
      .vacancies--general {
        h1 {
        }

        &__group {
          margin-left: 0;
          &--title {
            table {
            }

            &__block {
              h2 {
              }

              Link {
              }
            }
          }
        }
      }
    }
  }
  #contact {
    .contact {
      .contact--general {
        h1 {
        }

        &__group {
          flex-wrap: wrap;
          &--title {
            &__icons {
              &--icon {
              }

              h2 {
              }
            }
          }

          iframe {
          }
        }
      }
    }
  }
  #footer {
    .footer {
      .footer--general {
        &__group {
          &--block {
            justify-content: center;
            &__words {
              h1 {
              }
            }

            &__image {
              img {
                margin-left: -15%;

              }
            }
          }

          &--title {
            &__web {
              &--item {
                &__input {
                  h2 {
                  }

                  &--line {
                    input {
                    }

                    table {
                    }
                  }
                }

                &__btn {
                  button {
                  }
                }

                &__p {
                  p {
                  }
                }
              }

              img {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  #modal {
    .modal {
      .modal--general {
        .h1 h1 {
          padding: 80px 50px 10px 0;
        }
        &__group {
          &--group2 {
            flex-wrap: wrap;
            h2 {
              font-size: 80px;
              margin: 20px;
            }
            &__line {
              display: none;
            }
            &__title {
              h3 {}
              h4 {}
              p {}
            }
          }
        }
      }
    }
  }

}

@media screen and (max-width: 576px) {
  #header {
    .header {
      .header--general {
        width: 94vw;
        img {
        }

        &__icons {
          display: none;
          &--ai {
          }
        }

        .hamburger-menu {
          #menu__toggle {
          }

          .menu__btn {
          }

          .menu__box {
            .menu__item {
            }
          }
        }
      }
    }
  }
  #hero {
    .hero {
      .hero--general {
        &__block {
        }

        h1 {

        }

        &__line {
        }

        &__title {
          margin: 15px;
          p {
          }

          button {
          }

          &--next {
          }
        }

      }

      .hero--circle {
      }
    }
  }
  #our-service {
    .our-service {
      .our-service--general {
        h1 {
        }

        p {
        }

        &__group {
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          &--block {
            h2 {
            }

            &__title {
              h3 {
              }

              &--circle {
              }
            }
          }

          &--block2 {
            h2 {
            }

            &__title2 {
              h3 {
              }

              &--circle2 {
              }
            }
          }
        }
      }
    }
  }
  #our-projects {
    .our-projects {
      .our-projects--general {
        h1 {
        }

        &__block {
          &--image {
            width: 30rem;
            img {
              width: 30rem;
            }

            &__scroll {
              h2 {
                font-size: 80px;
              }
              img {
                width: 47px;
                height: 97px;
              }
            }
          }
        }
      }
    }
  }
  #our-team {
    .our-team {
      .our-team--general {
        h1 {
        }

        &__title {
          flex-wrap: wrap;
          &--group {
            &__image {
              width: 195px;
            }

            &__block {
              h2 {
              }

              h3 {
              }

              &--icons {
                &__social {
                }
              }
            }
          }

        }
      }
    }
  }
  #tools {
    .tools {
      .tools--general {
        h1 {
          font-size: 65px;
        }

        &__group {
          &--image {
          }

          &--block {
            &__item {
              width: 470px;
              &--title {
                margin: 15px;
              }
            }
          }

          &--image2 {
          }
        }
      }
    }
  }
  #vacancies {
    .vacancies {
      .vacancies--general {
        h1 {
        }

        &__group {
          &--title {
            table {
              width: 580px;
            }

            &__block {
              justify-content: space-evenly;
              h2 {
              }

              Link {
              }
            }
          }
        }
      }
    }
  }
  #contact {
    .contact {
      .contact--general {
        h1 {
        }

        &__group {
          &--title {
            &__icons {
              &--icon {
              }

              h2 {
              }
            }
          }

          iframe {
          }
        }
      }
    }
  }
  #footer {
    .footer {
      .footer--general {
        &__group {
          &--block {
            &__words {
              h1 {
              }
            }

            &__image {
              display: none;
              img {
              }
            }
          }

          &--title {
            &__web {
              &--item {
                &__input {
                  h2 {
                  }

                  &--line {
                    input {
                    }

                    table {
                      width: 380px;
                    }
                  }
                }

                &__btn {
                  button {
                  }
                }

                &__p {
                  p {
                  }
                }
              }

              img {
              }
            }
          }
        }
      }
    }
  }
  #modal {
    .modal {
      .modal--general {
        .h1 h1 {
          padding: 80px 50px 10px 0;
        }
        &__group {
          &--group2 {
            flex-wrap: wrap;
            h2 {
              font-size: 80px;
              margin: 20px;
            }
            &__line {
              display: none;
            }
            &__title {
              h3 {}
              h4 {}
              p {}
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  #header {
    .header {
      .header--general {
        width: 94vw;
        img {
        }

        &__icons {
          display: none;
          &--ai {
          }
        }

        .hamburger-menu {
          #menu__toggle {
          }

          .menu__btn {
          }

          .menu__box {
            .menu__item {
            }
          }
        }
      }
    }
  }
  #hero {
    .hero {
      .hero--general {
        &__block {
        }

        h1 {

        }

        &__line {
        }

        &__title {
          margin: 15px;
          p {
          }

          button {
          }

          &--next {
          }
        }

      }

      .hero--circle {
      }
    }
  }
  #our-service {
    .our-service {
      .our-service--general {
        h1 {
          font-size: 90px;
        }

        p {
        }

        &__group {
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          &--block {
            h2 {
            }

            &__title {
              h3 {
              }

              &--circle {
              }
            }
          }

          &--block2 {
            h2 {
            }

            &__title2 {
              h3 {
              }

              &--circle2 {
              }
            }
          }
        }
      }
    }
  }
  #our-projects {
    .our-projects {
      .our-projects--general {
        h1 {
          font-size: 80px;
        }

        &__block {
          &--image {
            width: 25rem;
            img {
              width: 25rem;
            }

            &__scroll {
              h2 {
                font-size: 60px;
              }
              img {
                width: 47px;
                height: 97px;
              }
            }
          }
        }
      }
    }
  }
  #our-team {
    .our-team {
      .our-team--general {
        h1 {
        }

        &__title {
          flex-wrap: wrap;
          &--group {
            &__image {
              width: 227px;
            }

            &__block {
              h2 {
              }

              h3 {
              }

              &--icons {
                &__social {
                }
              }
            }
          }

        }
      }
    }
  }
  #tools {
    .tools {
      .tools--general {
        h1 {
          font-size: 50px;
        }

        &__group {
          &--image {
          }

          &--block {
            &__item {
              width: 470px;
              &--title {
                margin: 15px;
              }
            }
          }

          &--image2 {
          }
        }
      }
    }
  }
  #vacancies {
    .vacancies {
      .vacancies--general {
        h1 {
          font-size: 65px;
        }

        &__group {
          &--title {
            table {
              width: 580px;
            }

            &__block {
              justify-content: space-evenly;
              h2 {
                font-size: 25px;
              }

              Link {
              }
            }
          }
        }
      }
    }
  }
  #contact {
    .contact {
      .contact--general {
        h1 {
          font-size: 65px;
        }

        &__group {
          &--title {
            &__icons {
              &--icon {
              }

              h2 {
                font-size: 23px;
              }
            }
          }

          iframe {
          }
        }
      }
    }
  }
  #footer {
    .footer {
      .footer--general {
        &__group {
          &--block {
            &__words {
              h1 {
              }
            }

            &__image {
              display: none;
              img {
              }
            }
          }

          &--title {
            &__web {
              &--item {
                &__input {
                  h2 {
                  }

                  &--line {
                    input {
                    }

                    table {
                      width: 300px;
                    }
                  }
                }

                &__btn {
                  button {
                  }
                }

                &__p {
                  p {
                  }
                }
              }

              img {
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  #header {
    .header {
      .header--general {
        width: 94vw;
        img {
        }

        &__icons {
          display: none;
          &--ai {
          }
        }

        .hamburger-menu {
          #menu__toggle {
          }

          .menu__btn {
          }

          .menu__box {
            .menu__item {
            }
          }
        }
      }
    }
  }
  #hero {
    .hero {
      .hero--general {
        &__block {
        }

        h1 {
          font-size: 90px;
        }

        &__line {
          display: none;
        }

        &__title {
          margin: 15px;
          p {
          }

          button {
          }

          &--next {
          }
        }

      }

      .hero--circle {
      }
    }
  }
  #our-service {
    .our-service {
      .our-service--general {
        h1 {
          font-size: 90px;
        }

        p {
        }

        &__group {
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          &--block {
            h2 {
            }

            &__title {
              h3 {
              }

              &--circle {
              }
            }
          }

          &--block2 {
            h2 {
            }

            &__title2 {
              h3 {
              }

              &--circle2 {
              }
            }
          }
        }
      }
    }
  }
  #our-projects {
    .our-projects {
      .our-projects--general {
        h1 {
          font-size: 70px;
        }

        &__block {
          &--image {
            width: 22rem;
            img {
              width: 22rem;
            }

            &__scroll {
              h2 {
                font-size: 60px;
              }
              img {
                width: 47px;
                height: 97px;
              }
            }
          }
        }
      }
    }
  }
  #our-team {
    .our-team {
      .our-team--general {
        h1 {
        }

        &__title {
          flex-wrap: wrap;
          &--group {
            &__image {
              width: 210px;
            }

            &__block {
              h2 {
              }

              h3 {
              }

              &--icons {
                &__social {
                }
              }
            }
          }

        }
      }
    }
  }
  #tools {
    .tools {
      .tools--general {
        h1 {
          font-size: 50px;
        }

        &__group {
          &--image {
          }

          &--block {
            &__item {
              width: 327px;
              &--title {
                margin: 15px;
              }
            }
          }

          &--image2 {
          }
        }
      }
    }
  }
  #vacancies {
    .vacancies {
      .vacancies--general {
        h1 {
          font-size: 60px;
        }

        &__group {
          &--title {
            table {
              width: 580px;
            }

            &__block {
              justify-content: space-evenly;
              h2 {
                font-size: 20px;
              }

              Link {
              }
            }
          }
        }
      }
    }
  }
  #contact {
    .contact {
      .contact--general {
        h1 {
          font-size: 65px;
        }

        &__group {
          &--title {
            &__icons {

              &--icon {
              }

              h2 {
                font-size: 19px;
              }
            }
          }

          iframe {
          }
        }
      }
    }
  }
  #footer {
    .footer {
      .footer--general {
        &__group {
          &--block {
            &__words {
              h1 {
              }
            }

            &__image {
              display: none;
              img {
              }
            }
          }

          &--title {
            &__web {
              &--item {
                &__input {
                  h2 {
                  }

                  &--line {
                    input {
                    }

                    table {
                      width: 250px;
                    }
                  }
                }

                &__btn {
                  button {
                  }
                }

                &__p {
                  p {
                  }
                }
              }

              img {
              }
            }
          }
        }
      }
    }
  }
  #modal {
    .modal {
      .modal--general {
        .h1 h1 {
          padding: 80px 50px 10px 0;
        }
        &__group {
          &--group2 {
            flex-wrap: wrap;
            h2 {
              font-size: 80px;
              margin: 20px;
            }
            &__line {
              display: none;
            }
            &__title {
              margin: 20px;
              h3 {}
              h4 {}
              p {}
            }
          }
        }
      }
    }
  }

}

@media screen and (max-width: 375px) {
  #header {
    .header {
      .header--general {
        width: 94vw;
        img {
        }

        &__icons {
          display: none;
          &--ai {
          }
        }

        .hamburger-menu {
          #menu__toggle {
          }

          .menu__btn {
          }

          .menu__box {
            .menu__item {
            }
          }
        }
      }
    }
  }
  #hero {
    .hero {
      .hero--general {
        &__block {
        }

        h1 {
          font-size: 80px;
        }

        &__line {
          display: none;
        }

        &__title {
          margin: 15px;
          p {
          }

          button {
            width: 325px;
          }

          &--next {
            display: none;
          }
        }

      }

      .hero--circle {
      }
    }
  }
  #our-service {
    .our-service {
      .our-service--general {
        h1 {
          font-size: 80px;
        }

        p {
        }

        &__group {
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          &--block {
            h2 {
            }

            &__title {
              h3 {
              }

              &--circle {
              }
            }
          }

          &--block2 {
            h2 {
            }

            &__title2 {
              h3 {
              }

              &--circle2 {
              }
            }
          }
        }
      }
    }
  }
  #our-projects {
    .our-projects {
      .our-projects--general {
        h1 {
          font-size: 70px;
        }

        &__block {
          &--image {
            width: 20rem;
            img {
              width: 20rem;
            }

            &__scroll {
              h2 {
                font-size: 50px;
              }
              img {
                width: 47px;
                height: 97px;
              }
            }
          }
        }
      }
    }
  }
  #our-team {
    .our-team {
      .our-team--general {
        h1 {
        }

        &__title {
          flex-wrap: wrap;
          &--group {
            &__image {
              width: 210px;
            }

            &__block {
              h2 {
              }

              h3 {
              }

              &--icons {
                &__social {
                }
              }
            }
          }

        }
      }
    }
  }
  #tools {
    .tools {
      .tools--general {
        h1 {
          font-size: 45px;
        }

        &__group {
          &--image {
          }

          &--block {
            &__item {
              width: 325px;
              &--title {
                margin: 15px;
              }
            }
          }

          &--image2 {
          }
        }
      }
    }
  }
  #vacancies {
    .vacancies {
      .vacancies--general {
        h1 {
          font-size: 55px;
        }

        &__group {
          &--title {
            table {
              width: 580px;
            }

            &__block {
              justify-content: space-evenly;
              h2 {
                font-size: 17px;
              }

              Link {
              }
            }
          }
        }
      }
    }
  }
  #contact {
    .contact {
      .contact--general {
        h1 {
          font-size: 60px;
        }

        &__group {
          &--title {
            &__icons {

              &--icon {
              }

              h2 {
                font-size: 17px;
              }
            }
          }

          iframe {
          }
        }
      }
    }
  }
  #footer {
    .footer {
      .footer--general {
        &__group {
          &--block {
            &__words {
              h1 {
              }
            }

            &__image {
              display: none;
              img {
              }
            }
          }

          &--title {
            &__web {
              &--item {
                margin-left: 20%;
                &__input {
                  h2 {
                  }

                  &--line {
                    input {
                    }

                    table {
                      width: 200px;
                    }
                  }
                }

                &__btn {
                  button {
                  }
                }

                &__p {
                  p {
                  }
                }
              }

              img {
              }
            }
          }
        }
      }
    }
  }
  #modal {
    .modal {
      .modal--general {
        .h1 h1 {
          padding: 80px 50px 10px 0;
        }
        &__group {
          &--group2 {
            flex-wrap: wrap;
            h2 {
              font-size: 80px;
              margin: 20px;
            }
            &__line {
              display: none;
            }
            &__title {
              margin: 20px;
              h3 {}
              h4 {}
              p {}
            }
          }
        }
      }
    }
  }

}

@media screen and (max-width: 320px) {
  #header {
    .header {
      .header--general {
        width: 94vw;
        img {
        }

        &__icons {
          display: none;
          &--ai {
          }
        }

        .hamburger-menu {
          #menu__toggle {
          }

          .menu__btn {
          }

          .menu__box {
            .menu__item {
            }
          }
        }
      }
    }
  }
  #hero {
    .hero {
      .hero--general {
        &__block {
        }

        h1 {
          font-size: 70px;
        }

        &__line {
          display: none;
        }

        &__title {
          margin: 15px;
          p {
          }

          button {
            width: 275px;
          }

          &--next {
            display: none;
          }
        }

      }

      .hero--circle {
      }
    }
  }
  #our-service {
    .our-service {
      .our-service--general {
        h1 {
          font-size: 70px;
        }

        p {
        }

        &__group {
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          &--block {
            h2 {
            }

            &__title {
              h3 {
              }

              &--circle {
              }
            }
          }

          &--block2 {
            h2 {
            }

            &__title2 {
              h3 {
              }

              &--circle2 {
              }
            }
          }
        }
      }
    }
  }
  #our-projects {
    .our-projects {
      .our-projects--general {
        h1 {
          font-size: 55px;
        }

        &__block {
          &--image {
            width: 17rem;
            img {
              width: 17rem;
            }

            &__scroll {
              h2 {
                font-size: 40px;
              }
              img {
                width: 47px;
                height: 97px;
              }
            }
          }
        }
      }
    }
  }
  #our-team {
    .our-team {
      .our-team--general {
        h1 {
        }

        &__title {
          flex-wrap: wrap;
          &--group {
            &__image {
              width: 210px;
            }

            &__block {
              h2 {
              }

              h3 {
              }

              &--icons {
                &__social {
                }
              }
            }
          }

        }
      }
    }
  }
  #tools {
    .tools {
      .tools--general {
        h1 {
          font-size: 40px;
        }

        &__group {
          &--image {
          }

          &--block {
            &__item {
              width: 245px;
              &--title {
                margin: 15px;
              }
            }
          }

          &--image2 {
            width: 30rem;
          }
        }
      }
    }
  }
  #vacancies {
    .vacancies {
      .vacancies--general {
        h1 {
          font-size: 45px;
        }

        &__group {
          &--title {
            table {
              width: 580px;
            }

            &__block {
              justify-content: space-evenly;
              h2 {
                font-size: 12px;
              }
              a {
                font-size: 10px;
              }

              Link {
              }
            }
          }
        }
      }
    }
  }
  #contact {
    .contact {
      .contact--general {
        h1 {
          font-size: 50px;
        }

        &__group {
          &--title {
            &__icons {

              &--icon {
              }

              h2 {
                font-size: 14px;
              }
            }
          }

          iframe {
          }
        }
      }
    }
  }
  #footer {
    .footer {
      .footer--general {
        &__group {
          &--block {
            &__words {
              h1 {
              }
            }

            &__image {
              display: none;
              img {
              }
            }
          }

          &--title {
            &__web {
              &--item {
                margin-left: 40%;
                &__input {
                  h2 {
                  }

                  &--line {
                    input {
                    }

                    table {
                      width: 150px;
                    }
                  }
                }

                &__btn {
                  button {
                  }
                }

                &__p {
                  p {
                  }
                }
              }

              img {
              }
            }
          }
        }
      }
    }
  }
  #modal {
    .modal {
      .modal--general {
        .h1 h1 {
          padding: 110px 50px 10px 0;
        }
        &__group {
          &--group2 {
            flex-wrap: wrap;
            h2 {
              font-size: 60px;
              margin: 20px;
            }
            &__line {
              display: none;
            }
            &__title {
              margin: 20px;
              h3 {}
              h4 {}
              p {}
            }
          }
        }
      }
    }
  }
}





